@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

:root {
    ---primary-color: #418FDE;
    ---secundary-color: #3c3d3e;
}



body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* -------Mode Dark--------- */

body.dark {
    background: black;
    color: white;
}

.dark-icon,
.light-icon {
    cursor: pointer;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
}

.dark-icon {
    display: none;
}

.dark-icon:hover,
.light-icon:hover {
    color: white
}


/* -------------Header-------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(---secundary-color);
    color: white;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50px 20px 20px;
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
}

.menu {
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    gap: 10px;
    display: none;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #3c3d3e;
    width: 100%;
    height: 68%;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
    position: fixed;
    left: 0;
    width: 100%;
}

.menu a img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

header.active .menu {
    display: flex;
   
}


.icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    
}

.menu a {
    padding: 7px;
    width: 90%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #9197B3;
    transition: 1s;

}



.menu a.focused {
    background-color: #9197B3;
    outline: 3px double #56585e;
}

.menu a.focused box-icon,
.menu a.focused ion-icon {
    color: black;
}

.menu a.focused span {
    color: #232425;
}

.menu .end-icon {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selected {
    background-color: #9197B3;

}


/* ----main------ */

main {
    display: flex;
    flex-direction: column;

}



/* ---Section 1 Home --- */

.home {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgb(50, 60, 65)),
    url(./fondo.png);
    background-size: calc(30vh);
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.home .container {
    padding-top: 55px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.home .container img {
    margin-top: 40px;
    border: 10px solid var(---primary-color);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.home .container h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.home .container h2 {
    font-size: 15px;
    font-weight: normal;
}

.home .container .icons-home a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.home .container .icons-home a:hover {
    background-color: var(---primary-color);
}


/* ---Section 2 About me --- */

.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
    background-color: #1e2326;
    color: #fff;   
}

.about-me .contenido-seccion {
    margin-left: 8%;
}

.about-me h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px;

}

.about-me .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.about-me .contenido-seccion p span {
    color: var(---primary-color);
    font-weight: bold;
}

.about-me .fila .col {
    width: 100%;
}

.about-me .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.about-me .fila .col ul {
    list-style: none;
}

.about-me .fila .col ul li {
    margin: 12px 0;
}

.about-me .fila .col ul li strong {
    display: inline-block;
    color: var(---primary-color);
    width: 130px;
}

.about-me .fila .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.about-me .fila .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.about-me .fila .col .contenedor-intereses .interes:hover {
    background-color: var(---primary-color);
}

.about-me .fila .col .contenedor-intereses .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.about-me .fila .col .map-container iframe {
    width: 60%;
    height: 350px;
}

.contenido-seccion {
    margin-left: 0;
}

.about-me .fila,
.skills .fila {
    flex-direction: column;
}

/* ---- Section 3 skills ---- */

.skills{
  
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: auto;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}
.skills .skill .progreso{
    background-color: var(---primary-color);
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(---primary-color);
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}
@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 30%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .kotlin{
    width: 0%;
    animation: 2s kotlin forwards;
}
@keyframes kotlin {
    0%{width: 0%;}
    100%{width: 30%;}
} */





/* ---- Iconos Sociales ---- */


.social-icons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.social-icons a {
    margin-top: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 3em;
}

.icon-github {
    margin-right: 40px;
}

/* -----------Pantalla de escritorio------------- */

@media screen and (min-width: 701px) {

    
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 10vh;
        max-width: auto;
        padding-bottom: 15px;
    }

    header:hover {
        width: 28vh;
    }

    .logo {
        width: 50px;
    }

    header:not(.active) .logo h1 {
        display: none;
    }

    header.active .logo h1 {
        display: block;
        font-size: 20px;
    }

    header.active .logo {
        margin-right: 70%;
    }



    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        position: absolute;
        margin-top: 15px;
        height: 100%;
        padding-top: 20px;
    }

    .menu a {
        padding: 5px;
        width: 90%;
    }

    .menu .end-icon {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
    }

    header.active .menu .end-icon {
        flex-direction: row;
    }

    .menu a box-icon,
    .menu a ion-icon {
        font-size: 24px;
        color: #9197B3;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .menu a span {
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 30px;
        margin-left: 15px;

    }

    .menu:hover a span {
        opacity: 1;
    }

    .icon {
        width: auto;

    }

    /* -------Main------ */

    main {
        display: flex;
        flex-direction: column;
        gap:70px;
        margin-left: 60px;
    }

    /* ----- Home------ */

    .home {
        background: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 55px;

    }

    /* --------About me------------- */

    .about-me {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        background-color: #1e2326;
        color: #fff;
        padding: 50px;   
    }
    
    .about-me h2 {
        font-size: 48px;
        font-family: 'Righteous';
        text-align: center;
        padding: 20px;

    
    }
    
    .about-me .contenido-seccion p {
        font: 18px;
        line-height: 22px;
        margin-bottom: 20px;
    }
    
    .about-me .contenido-seccion p span {
        color: var(---primary-color);
        font-weight: bold;
    }
    
    .about-me .fila {
        display: flex;
        min-width: 10px ;
    }
    
    .about-me .fila .col {
        width: 100%;
    }
    
    .about-me .fila .col h3 {
        font-size: 28px;
        font-family: 'Righteous';
        margin-bottom: 25px;
    }
    
    
    .about-me .fila .col ul li strong {
        display: inline-block;
        color: var(---primary-color);
        width: 130px;
    }
    
    
    .about-me .fila .col .contenedor-intereses {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
    .about-me .fila .col .contenedor-intereses .interes:hover {
        background-color: var(---primary-color);
    }
    
    .about-me .fila .col .contenedor-intereses .interes i {
        font-size: 30px;
        margin-bottom: 10px;
    }
    
   
    
   
}