@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';

}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

:root {
    ---primary-color: #418FDE;
    ---secundary-color-dark: #3c3d3e;
    ---third-color-dark: #252A2E;
    ---mode-ligth: rgb(242, 246, 255);
    ---mode-dark: #1E2326;

    --card-height: 400px;
    --card-width: calc(var(--card-height) / 1.5);
}

body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: var(---mode-ligth);
    color: black;
}



button {
    border: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: 20px;
    width: 20px;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: inline-block;
}

.section {
    padding: 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* -------Mode Dark--------- */

body.dark {
    background: var(---mode-dark);
    color: white;
}

.dark-icon,
.light-icon {
    cursor: pointer;
    padding: 7px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
}

.dark-icon {
    display: none;
}


/* -------------Header-------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    color: black;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
}

header iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    user-select: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
    border-radius: 50px 20px 20px;
    background-color: var(---primary-color);
}

.logo h1 {
    font-size: 1.5em;
    margin: 0;
}

.menu {
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    gap: 10px;
    display: none;
    flex-direction: column;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: white;
    color: black;
    width: 100%;
    /* height: 68%; */
    position: fixed;
    left: 0;
    width: 100%;

}

.dark .menu,
.dark header {
    background-color: #252A2E;
    color: white;

}

.menu a img {
    width: 44px;
    height: 24px;
    margin-right: 15px;
}

header.active .menu a img {
    width: 95px;
}

header.active .menu {
    display: flex;

}


.icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 90%;
    text-align: center;

}

.menu a {
    padding: 7px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-weight: bold;
    color: #9197B3;
    transition: 1s;

}

.menu span {
    font-size: 15px;
}



.menu a.focused {
    background-color: #9197B3;
    outline: 3px double #56585e;
}

.menu a.focused box-icon,
.menu a.focused ion-icon {
    color: black;
}

/* ------- */
.menu a.focused span {
    color: #232425;
    font-size: 15px;
}

.menu .end-icon {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.selected {
    background-color: #9197B3;

}




/* ----main------ */

main {
    display: flex;
    flex-direction: column;
    z-index: 10;

}


/* ---Section 1 Home --- */

.home {

    background-size: calc(30vh);
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    max-height: 1200px;
    position: relative;
    margin-top: 10%;
}



.lamp-container {
    position: absolute;
    top: 10px;
    left: 51.5%;
    transform: translateX(-50%);
    width: 80%;
}

.lamp-container img {
    max-width: 100%;
    height: auto;
}

.dark .home {
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgb(50, 60, 65)),
        url(./fondo.png);
}

.home .container {
    padding-top: 6%;
    background-color: white;
    color: black;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}

.dark .home .container {
    background-color: #1e2326;
    color: white;
}

.home .container img {
    margin-top: 40px;
    border: 10px solid var(---primary-color);
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.home .container h1 {
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}

.home .container h2 {
    font-size: 15px;
    font-weight: normal;
}

.home .container .icons-home a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.home .container .icons-home a:hover {
    background-color: var(---primary-color);
}




/* ---Section 2 About me --- */

.about-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    color: black;
    margin-left: 25px;
}

.wave-text {
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 16px;
    margin-bottom: 15px;
}



@keyframes zoomWave {

    0%,
    100% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }
}

/* Agrega clases de animación de Animate.css */
.wave-text.animate__animated {
    animation-duration: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Ajusta los estilos para la animación de fade in */
.wave-text.animate__fadeIn {
    animation-name: fadeIn;
}

.wave-text span {
    display: inline-block;
    margin: 0 5px;
    animation: zoomWave 2s infinite, fadeIn 2s;
    /* Combina las animaciones */
}

.wave-text span:nth-child(2),
.wave-text span:nth-child(4) {
    animation-delay: 0.5s;
}

.wave-text span:nth-child(3) {
    animation-delay: 1s;
}


.about-me p {
    margin-bottom: 20px;
}

.dark .about-me {
    color: white;
}

.about-me .contenido-seccion {
    margin-left: 8%;

}

.about-me h2 {
    font-size: 48px;
    /* font-family: 'Righteous'; */
    text-align: center;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;

}

.about-me .col p span {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    color: var(---primary-color);

}

.about-me .contenido-seccion p span {
    color: var(---primary-color);
    font-weight: bold;
}

.about-me .col {
    width: 100%;
    margin-bottom: 35px;
}

.about-me .col h3 {
    font-size: 28px;
    margin-bottom: 25px;
}

.about-me .col ul {
    list-style: none;
}

.about-me .col ul li {
    margin: 12px 0;
}

.about-me .col ul li strong {
    display: inline-block;
    color: var(---primary-color);
    width: 130px;
}

.about-me .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.about-me .col .contenedor-intereses .interes {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;

}

.about-me .col ul li strong {
    display: inline-block;
    color: var(---primary-color);
    width: 130px;
}

.about-me .col .contenedor-intereses {
    display: flex;
    flex-wrap: wrap;
}

.dark .about-me .col .contenedor-intereses .interes {
    background-color: var(---third-color-dark);
}

.about-me .col .contenedor-intereses .interes:hover {
    background-color: var(---primary-color);
    transform: perspective(900px) translateY(-10%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

}




.about-me .col .contenedor-intereses .interes:hover .games {
    opacity: 2;
    transform: translate3d(0%, -30%, 100px);
}

.games {
    width: 85%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: 25%;
    z-index: -1;
    object-fit: cover;
    scale: 200%;
}

.about-me .col .contenedor-intereses .interes::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.about-me .col .contenedor-intereses .interes::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.about-me .col .map-container iframe {
    width: 100%;
    height: 350px;
}

.contenido-seccion {
    margin-left: 0;
}

.about-me .fila,
.skills .fila {
    flex-direction: column;
}

/* ---- Section 3 skills ---- */

.skills {
    padding: 50px 30px;
}

.soft-skills h3:hover,
.skills h2:hover,
.hard-skills li:hover,
.soft-skills li:hover {
    padding-left: 8px;
}



.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    display: block;
    transition: all 0.3s ease;
}

.soft-skills li {
    margin: 15px 0;
}

.hard-skills {
    position: relative;
    height: 40%;
    width: 100%;
    margin-top: 55px;
}

.slider-skills {
    height: 50%;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
}

.hard-skills button {
    background-color: var(---secundary-color);
    position: absolute;
    top: 50%;
    width: 25px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.dark .hard-skills button {
    background-color: var(---primary-color);
}

.btn-prev {
    left: 1%;
}

.btn-next {
    right: 1%;
}

/* ----------Section 4 Project--------------- */

.projects {
    margin-left: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.btn_project {
    width: 40%;
}

.span_color {
    color: var(---primary-color);
}


.container .card .face {
    width: 300px;
    height: 200px;
    transition: .4s;

}

.container .card .face.face1 {
    position: relative;
    background: #2e3c35;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .card:hover .face.face1 {
    transform: translateY(0);
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px rgba(255, 0, 55, 0.576),
        inset -20px 0 80px rgb(132, 214, 255),
        inset 20px 0 300px rgb(255, 0, 55),
        inset -20px 0 300px #0ff,
        0 0 50px #ffffffdc,
        -10px 0 80px rgba(255, 0, 55, 0.725),
        10px 0 80px #0ff;

}


.container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
    text-align: center;
}

.container .card:hover .face.face1 .content {
    opacity: 1;

}

.container .card .face.face1 .content i {
    font-size: 3em;
    color: white;
    display: inline-block;

}

.container .card .face.face1 .content h3 {
    font-size: 1em;
    color: rgb(255, 255, 255);
    text-align: center;


}

.container .card .face.face1 .content a {
    transition: .5s;
}

.container .card .face.face2 {
    position: relative;
    background: rgba(245, 245, 245, 0.882);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.container .card:hover .face.face2 {
    transform: translateY(0);


}

.container .card .face.face2 .content p,
a {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    color: #333;
}

.container .card .face.face2 .content a {
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    outline: 1px dashed #333;
    padding: 10px;
    margin: 15px 0 0;
    display: inline-block;
}

.container .card .face.face2 .content a:hover {
    background: #333;
    color: whitesmoke;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}




/* ----------Section 5 Education------------- */

.education {
    margin-left: 25px;
}

.foreign-education li:hover,
.local-education li:hover,
.education h3:hover,
.education h2:hover {
    padding-left: 8px;

}

.education li {
    margin-bottom: 15px;

}

.education h2 {
    color: var(---primary-color);
    font-size: 26px;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 25px;

}

.education h3 {
    color: var(---primary-color);
    font-size: 26px;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    margin-bottom: 25px;

}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

.container-education {
    display: flex;
    width: 100%;
    height: 50vh;
    flex-wrap: wrap;
    gap: 5px;

}



.box {
    position: relative;
    width: 200px;
    height: 150px;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 40%, #ff2770 50%);
    animation: rotate 4s linear infinite;
    border-radius: 20px;
    filter: drop-shadow(0 15px 50px #000);
    display: flex;
    justify-content: start;
    align-items: start;
}

.box:nth-child(1) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(190deg);
}

.box:nth-child(3) {
    filter: drop-shadow(0 15px 50px #000) hue-rotate(250deg);
}

@keyframes rotate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

.box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 40%, #45f3ff 50%);
    animation: rotate 4s linear infinite;
    animation-delay: -0.9s;
    border-radius: 20px;
}

.box::after {
    content: '';
    position: absolute;
    inset: 10px;
    border: 8px solid #25252b;
    border-radius: 15px;
    background: #2d2d39;
}

.box h2 {
    position: absolute;
    inset: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    overflow: hidden;
}


/* -------achievements------- */

.achievements h1 {
    color: var(---primary-color);
}


.achievements figure:hover {
    transform: perspective(900px) translateY(-10%) rotateY(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);

}

.achievements:hover p {
    transform: perspective(900px) translateY(-10%) rotateY(-25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}




/* ---- Iconos Sociales ---- */


.social-icons {
    width: 90px;
    aspect-ratio: 1;
    margin: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 30;
}

.social-icons .icon {
    position: absolute;
    font-size: 40px;
    width: 35px;
}

.active .icon-linkedin {
    top: 0;
    right: 0;
    transition: right .5s;
}

.active .icon-github {
    bottom: 0;
    left: 0;
    transition: bottom .5s;
}

.icon-linkedin {
    right: -100px;
    transition: right .5s;
}

.icon-github {
    bottom: -100px;
    transition: bottom .5s;

}

.social-icons .icon-linkedin:hover::after {
    content: 'Linkedin';
    font-size: 10px;
    position: absolute;
    left: -150%;
    top: 9px;
    background-color: black;
    border-radius: 30px;
    padding: 7px;
    color: white;
}

.social-icons .icon-github:hover::after {
    content: 'Github';
    font-size: 10px;
    position: absolute;
    left: -140%;
    top: 9px;
    background-color: black;
    border-radius: 30px;
    padding: 7px;
    color: white;
}


.dark .icon-linkedin:hover::after,
.dark .icon-github:hover::after {
    background-color: white;
    color: black;
    position: absolute;
    font-size: 10px;

}


/* -----------Pantalla de escritorio------------- */

@media screen and (min-width: 701px) {


    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        width: 10vh;
        max-width: auto;
        padding-bottom: 15px;
    }

    header:hover {
        width: 28vh;
    }

    .logo {
        width: 50px;
    }

    header:not(.active) .logo h1 {
        display: none;
    }

    header.active .logo h1 {
        display: block;
        font-size: 20px;
    }

    header.active .logo {
        margin-right: 70%;
    }



    .menu {
        display: flex;
        flex-direction: column;
        margin-top: 0;
        position: absolute;
        margin-top: 15px;
        height: 100%;
        padding-top: 20px;
    }

    .menu a {
        padding: 5px;
        width: 90%;
    }

    .menu .end-icon {
        display: flex;
        margin-top: 25px;
        flex-direction: column;
    }

    header.active .menu .end-icon {
        flex-direction: row;
    }

    .menu a box-icon,
    .menu a ion-icon {
        font-size: 24px;
        color: #9197B3;
        display: flex;
        align-items: center;
        gap: 10px;

    }

    .menu a span {
        font-size: 14px;
        opacity: 0;
        transition: opacity 0.3s ease;
        position: absolute;
        left: 30px;
        margin-left: 15px;

    }

    .menu:hover a span {
        opacity: 1;
    }

    .icon {
        width: auto;

    }

    /* -------Main------ */

    main {
        display: flex;
        flex-direction: column;
        gap: 70px;
        margin-left: 60px;
    }

    /* ----- Home------ */

    .home {
        background: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        margin-top: 0;

    }

    .lamp-container {
        position: absolute;
        top: 0;
        left: 51.5%;
        transform: translateX(-50%);
        width: 40%;
    }


    /* --------About me ------------- */

    .about-me {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .about-me .col p {
        max-width: 95%;
    }


    /* -----------Skills------------- */

    .skills {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10px;
    }

    .skills h2 {
        grid-column: span 2;
        text-align: start;

    }

    .soft-skills {
        grid-column: 1;
        grid-row: 3;
        margin-top: -80px;
    }

    .soft-skills h3 {
        padding-bottom: 80px;
    }

    .soft-skills ul li {
        padding-bottom: 30px;
    }

    .hard-skills {
        grid-column: 2;
        grid-row: 3 / span 2;
        width: 80%;
        height: 100%;
        margin-left: 15%;
        margin-top: -100px;
    }


    .slider-skills {
        height: 80%;
        width: 80%;
        margin-left: 10%;
    }

    /* -----------Project----------------- */

   


    /* -----------Education------------- */


    .education {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 20px;
    }

    .education h2 {
        grid-column: span 2;
        margin-bottom: 65px;
    }

    .education article {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .education article .foreign-education {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    .local-education {
        margin-top: -28%;
    }

    .education li {
        margin: 25px 10px;
        max-width: 80%;

    }

    .container-education {
        margin-top: -25%;
    }

    /* -----------achievements--------------- */

    .achievements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr 5fr);
        align-items: center;
        margin-left: 15px;
    }

    .achievements h1 {
        display: flex;
        grid-column: span 2;
        margin-bottom: 75px;
    }

    .achievements figure {
        justify-self: center;
    }


}


@media screen and (max-width: 872px) {
    .about-me {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 15px;
        color: black;
        margin-left: 25px;
    }
}